.main-page,
.theme-page
{
    .time-line
    {
        margin: 0;
        padding: 15px 15px 0;
    }
    .head
    {
        color: #222;
    }
    .home-list-item
    {
        display: block;
        clear: both;

        height: 60px;
        padding: 15px;

        text-align: center;
        a
        {
            // display: -webkit-flex;
            // display: -moz-flex;
            // display: -ms-flex;
            // display: -o-flex;
            // display: flex;
            width: 100%;
            height: 100%;
        }
        .image
        {
            float: left;
            background-color: #fff;

            width: 20%;
            img
            {
                width: 60px;
                height: 60px;
            }
        }
        .title
        {
            font-weight: bold;

            display: inline;
            float: left;

            width: 70%;
            margin-left: 15px;

            text-align: left;
        }
    }
}

.theme-page {
    .theme-logo {
        img {
            width: 100%;
        }
    }

    h2 {
        margin-left: 15px;
    }
}
