<template name="themePage">
	<section class="theme-page">
		<div class="theme-logo">
			<img src="{{logoImage}}" alt="{{themeTitle}}">
		</div>
		<h2>{{themeTitle}}<br />
		<small>{{subTitle}}</small></h2>
		<ul>
		{{#each themeContent}}
			{{> themeContentItem}}
		{{/each}}
		</ul>
	</section>
</template>

<template name="themeContentItem">
	<li class="home-list-item">
		<a href="/detail/{{id}}" class="link">
			<div class="image"><img src="{{itemImg}}" alt="{{title}}"></div>	
			<div class="title">{{title}}</div>
		</a>
	</li>
</template>