html, 
body {
	color: @commonFontColor;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	> section {
		margin-top: 60px;
	}

	@media screen and (min-width: 600px) {
		> section {
			width: 600px;
			margin: 60px auto 0;
		}
    }
}

ul, 
li {
	list-style: none;
	padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: @commonFontColor;

	-webkit-tap-highlight-color: transparent;
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
}

* {
	-webkit-tap-highlight-color: transparent;
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
}

