.aside-menu {
	position: fixed;
	top: 60px;
	left: -100%;
	width: 50%;
	height: 100%;
	background-color: #6c5b7b;
	font-family: 'FZ-Song', sans-serif;
	font-size: 16px;
	z-index: 200;
	// transform: -webkit-translate(-100%) scale(0);
	// transform: -moz-translate(-100%) scale(0);
	// transform: -ms-translate(-100%) scale(0);
	// transform: -o-translate(-100%) scale(0);
	// transform: translate(-100%) scale(0);
	transition: .5s;

	&.open {
		left: 0%;
		// transform: -webkit-translate(0) scale(1);
		// transform: -moz-translate(0) scale(1);
		// transform: -ms-translate(0) scale(1);
		// transform: -o-translate(0) scale(1);
		// transform: translate(0) scale(1);
	}

	ul {
		height: 100%;
	}

	li {
		height: 6%;
		line-height: 30px;
		text-align: center;
	}

	ul li a {
		color: @whiteFontColor;
		text-align: center;
		display: block;	
	}
}