<template name="homePage">

	{{#if isLoading}}
		{{> loading}}
	{{/if}}

	{{> swiper}}

	<section class="home-page">
		<h3 class="time-line">{{getToday}}</h3>

		<section class="latest-news">
			<ul>
				{{#each latestNews}}
					{{> latestNewsItem}}
				{{/each}}
			</ul>
		</section>
	</section>

	<!-- {{#contentFor 'footer'}}
		<p style="margin-top:50px;clear:both">written by troy</p>
	{{/contentFor}} -->

	<!-- {{> openBg}} -->
</template>

<template name="latestNewsItem">
	<li class="latest-news-item">
		<a href="/detail/{{id}}">
			<div class="image"><img src="{{itemImg}}" alt="{{title}}"></div>	
			<div class="title">{{title}}</div>
		</a>
	</li>
</template>