.open-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;

	&.hide {
		display: none;
	}
	
	img {
		width: 100%;
		height: 100%;
		-webkit-animation: zoomOut 2.5s ease-in-out;
		-moz-animation: zoomOut 2.5s ease-in-out;
		-ms-animation: zoomOut 2.5s ease-in-out;
		-o-animation: zoomOut 2.5s ease-in-out;
		animation: zoomOut 2.5s ease-in-out;
	}

	@keyframes zoomOut {
		from {
			transform: -webkit-scale(1);
			transform: -moz-scale(1);
			transform: -ms-scale(1);
			transform: -o-scale(1);
			transform: scale(1);
		}
		to {
			transform: -webkit-scale(1.2);
			transform: -moz-scale(1.2);
			transform: -ms-scale(1.2);
			transform: -o-scale(1.2);
			transform: scale(1.2);
		}
	}
}