<template name="mainPage">
	<section class="main-page">
	{{#if isTrashBrowser}}
	{{else}}
		{{> swiper}}
	{{/if}}

		<h3 class="time-line">{{getToday}}</h3>

		{{> pagination}}
		
		<section class="latest-news">
			<ul>
				{{#each latestNews}}
					{{> latestNewsItem}}
				{{/each}}
			</ul>
		</section>

	</section>
</template>

<template name="latestNewsItem">
	<li class="home-list-item">
		<a href="/detail/{{id}}" class="link">
			<div class="image"><img src="{{itemImg}}" alt="{{title}}"></div>	
			<div class="title">{{title}}</div>
		</a>
	</li>
</template>